{# Shows information about a "Stufe" and provides a link to the view with an applied filter #}
{{ attach_library('gcmofficial/stufen') }}
{% if content.field_titelbild|render %}
{{ attach_library('gcmofficial/titelbild') }}
<div id="titelbild">
    {{ content.field_titelbild }}
</div>
{% endif %}
{{ content.body }}
