{{ content.body }}
<h3><a href="/dev/gcmofficial/berichte?field_stufe_tag_target_id={{ content.field_kurzform[0] }}">Berichte</a></h3>
<h3><a href="/dev/gcmofficial/projekte?field_thema_target_id={{ content.field_kurzform[0] }}">Projekte</a></h3>