{# Standard page with some styling #}
<header aria-label="Site header">
   {{ page.branding }}
   {{ page.navigation }}
</header>
<section id="main">
   {{ page.content }}
</section>
<footer aria-label="Site footer">
   {{ page.footer }}
</footer>
