.field--name-body {
    margin-top: 0;
}

.aside-container div:first-child {
    margin-top: calc(9vw + 2em);
}

.aside-container aside div:first-child {
    margin-top: 0;
}

.aside-container aside div {
    margin-top: 1em;
}

#titelbild {
    margin-top: -1.5em;
}

.stufen {
    margin-top: 0 !important;
    max-width: 50vw;
    display: flex;
}

.stufen a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-left: 2em;
}

.stufen a:nth-child(1) {
    margin-left: 0;
}

#currentgrade {
    background-color: white;
    color: darkgreen;
    color: var(--primary-dark);
    box-shadow: inset 0 0 0 2px darkgreen;
    box-shadow: inset 0 0 0 2px var(--primary-dark);
    cursor: default;
}

.field--name-field-bildergalerie .field__items {
    display: flex;
    flex-wrap: wrap;
}

.field--name-field-bildergalerie .field__item {
    flex: 30%;
    height: fit-content;
    margin: 0.5vw;
}

.field--name-field-bildergalerie .field__item img {
    height: 100%;
}

.popup {
    max-width: 100% !important;
    width: 100%;
    height: 100vh;
    background-color: #000000aa;
    position: fixed;
    z-index: 500;
    overflow: scroll;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: start;
}

.popup img {
    max-width: 80%;
    margin: 5vh 0;
    height: auto;
    width: unset !important;
    direction: ltr;
}
