#titelbild .field__item {
    transition: opacity 1s;
}

#titelbild .field__item.slideshow-hidden {
    opacity: 0;
}

#titelbild .button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titelbild button {
  padding: min(1em, 2.5vw);
  z-index: 2;
  transition: 0.07s;
  margin: 2.4%;
  opacity: 0.6;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#titelbild button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
#titelbild button:active {
  transform: scale(1.3);
  opacity: 1;
}
body section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #051b61;
    z-index: 5;
    mix-blend-mode: color;
}
.region.region-content {
    z-index:0;
}
#titelbild {
    z-index: 1;
}
