.site img {
    width: 40%;
    height: auto !important;
    float: left;
    margin-right: 10%;
}

.site {
    height: min-content;
    min-height: 8.6em;
    margin-bottom: max(10.5em, 19vw);
}

.site div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
}

.site p {
    margin: 0;
}

.site a {
    margin-top: 1em;
}