#block-gcmofficial-page-title {
    display: none;
}

#titelbild,
#titelbild .field__item {
    height: calc(100vh - 13vw);
    max-height: 66.64vw;
    min-height: 45vw;
}

#herobox {
    position: absolute;
    top: min(max(30vh, 16vw), 30vw);
    width: fit-content;
    height: fit-content;
    background-color: var(--darkgreen-transparent);
    padding: 1rem 1.6rem;
    color: white;
    border-radius: 0.15rem;
    font-size: 1.4em;
    right: 10%;
}

#herobox h2,
#herobox a {
    color: white;
}

.kontakt-links {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kontakt-links .btn-like {
    margin-top: 1em;
    font-weight: bold;
}

.field--name-body {
    margin-top: 0 !important;
}

.aside-container {
    margin-top: 9vw;
}

.views-row {
    flex: 0 1 47%;
}

.cssfile {
    --file: "startseite";
}