#block-gcmofficial-page-title {
    display: none;
}

#titelbild {
    height: calc(100vh - 13vw);
    max-height: 66.64vw;
    min-height: 47vw;
}

#herobox {
    position: absolute;
    top: min(max(50vh, 16vw), 45vw);
    width: fit-content;
    height: fit-content;
    background-color: var(--darkgreen-transparent);
    padding: 1rem 1.6rem;
    color: white;
    font-size: 1.4em;
    right: 10%;
}

#herobox h2,
#herobox a {
    color: white;
}

#herobox a::before {
    content: '⇨ ';
}

.views-row {
    flex: 0 1 47%;
}

.cssfile {
    --file: "startseite";
}