#block-gcmofficial-page-title {
    display: none;
}

#titelbild {
    height: calc(100vh - 13vw);
    max-height: 66.64vw;
}

#herobox {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--darkgreen-transparent);
    padding: 1.2vw 2vw;
    margin-top: calc(15vw - 100vh);
    color: white;
}

#herobox h2,
#herobox a {
    color: white;
}

#herobox a::before {
    content: '→ ';
}

.views-row {
    flex: 0 1 47%;
}