:root {
    --darkgreen: #588a1c;
    --darkgreen-transparent: #588a1cdd;
    --green: #73b245;
    --lightgreen: #d9f4b7;
    --blue: #2e5caa;
}

header,
#main,
footer {
    width: 100%;
    font-size: 1.4vw;
}

header .region-branding,
header #block-hauptnavigation,
#main .region-content,
footer .region-footer {
    width: 80%;
    margin: 0 10%;
}

header .region-branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#block-gcmofficial-branding {
    flex: 0 1 72%;
}

header .site-name {
    float: right;
    margin-top: 5%;
}

.site-name a {
    color: black;
    text-decoration: none;
    font-family: Poppins;
}

header .site-name a {
    font-weight: 700;
    font-size: 2.2vw;
}

.site-logo img {
    width: 12vw;
}

header .site-logo img {
    padding: 0.5vw 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--blue);
}

#block-gcmofficial-search input[type=search] {
    width: 10vw;
}

#block-gcmofficial-search input[type=submit] {
    background-color: var(--darkgreen);
    border: none;
    color: white;
    padding: 0.2vw 1vw;
    text-align: center;
}

header .region-navigation {
    background-color: var(--darkgreen);
}

#block-hauptnavigation ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

#block-hauptnavigation li {
    background-color: var(--darkgreen);
    transition: background-color 0.2s;
}

#block-hauptnavigation li:hover {
    background-color: var(--green);
}

#superfish-main li a,
#superfish-main li span {
    color: white;
    padding: 1.5vw 2vw;
}

#superfish-main .is-active {
    color: var(--lightgreen);
}

#superfish-main li span::after {
    content: '⌵';
    margin-left: 0.6em;
}

#superfish-main li ul {
    margin-top: 0.91vw;
}

ul.sf-menu::after {
    display: none;
}

#main {
    margin-top: 10vw;
}

#main .region-content img {
    max-width: 100%;
    height: 100%;
}

footer {
    margin-top: 5vw;
}

footer .site-name {
    margin: 4vw 42vw 0 0;
    float: right;
}

footer .menu--footer ul li {
    float: left;
    margin-left: 2vw;
}

footer .menu--footer ul li:first-child {
    margin-left: unset;
}

/* .menu--footer if account menu and footer menu are switched */
footer .menu--account {
    float: right;
}