.view-terminplan .view-content {
    background: unset;
    padding-top: unset;
}

.view-terminplan .item-list,
.view-terminplan ul,
.view-terminplan li {
    width: 100%;
}

.view-terminplan .views-field-field-startdatum {
    float: left;
    width: unset;
}
