#titelbild {
    border-bottom: 2px solid #666;
    width: 100% !important;
    padding: 0 !important;
    height: 25vw;
}

#titelbild,
#titelbild .field--name-field-titelbild {
    height: 25vw;
}

#titelbild .field__item {
    position: absolute;
    width: 100%;
    height: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    color: white;
}

#titelbild .field__item .btn-enlarge {
    left: 0;
    top: 0;
}

#titelbild .field__item img,
#titelbild .field__item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#titelbild .field__item[data-fullscreen=true] video {
    max-width: 100vw;
    max-height: 100vh;
}

#main .field--name-body, .article-content {
    margin-top: 9em;
}

#main .aside-container .field--name-body {
    margin-top: 0;
}

#main .article-content .field--name-body {
    margin-top: 0;
}

#main {
    margin-top: 0;
}

#block-gcmofficial-page-title,
#block-gcmofficial-breadcrumbs {
    position: absolute;
    margin-top: 27vw;
}

#block-gcmofficial-page-title {
    margin-top: calc(27vw + 1em);
}

.cssfile {
    --file: "titelbild";
}
