#titelbild {
    margin-left: -12.5%;
    width: 125%;
    height: 25vw;
    border-bottom: 2px solid #666;
}

#titelbild .field--name-field-titelbild {
    width: 100%;
}

#titelbild .field__item {
    position: absolute;
    width: 100%;
    height: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#titelbild .field__item img,
#titelbild .field__item video { 
    width: 100%; 
    max-width: 100%; 
    height: auto; 
}

#titelbild.fit-vertical .field__item img,
#titelbild.fit-vertical .field__item video { 
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: unset;
}

#titelbild .field__item[data-fullscreen=true] video {
    max-width: 100vw !important;
    max-height: 100vh !important;
}

.field--name-body {
    margin-top: 9em;
}
  
#main { 
    margin-top: 0;
} 
  
#block-gcmofficial-page-title, 
#block-gcmofficial-breadcrumbs { 
    position: absolute; 
    margin-top: 27vw; 
}

#block-gcmofficial-page-title {
    margin-top: calc(27vw + 1em);
}

.cssfile {
    --file: "titelbild";
}