:root {
    --rows: 3;
}

#main menu {
  --spacing: 1em;
  width: calc(100% + var(--spacing));
  margin-top: 9em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#main menu a {
  border: 2px solid var(--darkgreen);
  color: var(--darkgreen);
  flex: 1 1 1px;
  white-space: nowrap;
  margin-right: 1em;
  margin-right: var(--spacing);
  margin-bottom: 1em;
  margin-bottom: var(--spacing);
  padding: 0.5em 1em;
  border-radius: 0.2rem;
  text-decoration: none;
  text-align: center;
}

#main menu a:hover, #main menu a:active {
  border-color: var(--green);
  color: var(--green);
  text-decoration: underline;
}

h2 {
    margin-top: 3em;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns ul {
    padding-left: inherit;
    margin-top: 6em;
}

.columns div {
    background-color: #588a1c;
    background-color: var(--darkgreen);
    color: white;
    padding: 1em;
    flex-basis: 1px;
    flex-grow: 1;
}

.columns div:nth-child(2) {
    margin: 0 1em 0 1em;
}

.columns h3 {
    color: white;
    position: absolute;
    width: 24%;
}