/* height equals 40% of the viewports' height minus the height of the header */
#titelbild,
#titelbild .field__item {
  height: calc(40vh - 21vw) !important;
}

/* term used in calc() uses height of #titelbild */
#block-gcmofficial-breadcrumbs {
  margin-top: calc(40vh - 19vw + 0.5em);
}

#block-gcmofficial-page-title {
  margin-top: calc(40vh - 19vw + 3em);
}

.aside-container div:first-child {
  margin-top: 2em;
}

.stufen {
  flex-direction: column;
}

.stufen a {
  margin-left: 0;
  margin-top: 1em;
  width: inherit;
}

.stufen a:nth-child(1) {
  margin-top: 0;
}

@media all and (max-width: 500px) {
  .aside-container div:first-child {
    margin-top: calc(22vw + 2em);
  }

  .stufen {
    max-width: unset;
  }

  .field--name-field-bildergalerie .field__item {
    margin: 2vw;
  }

}