header,
#main,
footer {
    font-size: 1rem;
}

header #block-hauptnavigation,
footer .region-footer {
    width: 90%;
    margin: 0 5%;
}

/* Grant every block of the page the same padding as the overall page (see above)
   Exceptions: Breadcrumbs, title, and main content block
   Instead of the main content block, every element in it, the fields of the page will be granted a padding */
#main .region-content > *,
#main .region-content .block-system-main-block > *,
#main .region-content .block-system-main-block > .views-element-container .view > * {
  padding: 0 5%;
  width: 90%;
}

#main .region-content .block-system-breadcrumb-block,
#main .region-content .block-page-title-block {
  padding: 0;
  margin-left: 5%;
  width: unset;
}

#main .region-content .block-system-main-block,
#main .region-content .block-system-main-block > .views-element-container {
  padding: 0;
  width: 100%;
}

header {
    padding-top: 1em;
    border-bottom: 3px green solid;
}

header .region-branding {
    margin: 0;
}

.btn-like {
    padding: 0.4em 0.8em;
}

header .region-branding {
    display: unset;
}

/* 12.16vw = height of .site-logo */
header .site-name {
    float: none;
    margin: 0;
    margin-top: -12.16vw;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.16vw;
    line-height: 6vw;
}

header .site-name a {
    font-size: 3.2vw;
    transform: translateY(1.5vw);
}

.site-name .site-slogan {
    font-size: 2.6vw;
}

.site-logo {
    display: block;
    line-height: 0;
}

.site-logo img {
    width: 18vw;
    margin-left: 3%;
}

header .site-logo img {
    padding: 0;
}

.region-branding #block-gcmofficial-search {
    display: none;
}

/* 12.16vw = height of .site-logo */
.sf-accordion-toggle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.16vw;
    margin-top: calc(-12.16vw - 1em);
    margin-left: 83%;
}

#superfish-main-toggle {
    display: block;
    text-align: right;
    width: 7vw;
    height: 7vw;
    margin: 0;
    background-image: url("../../assets/menuicon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#superfish-main-toggle.sf-expanded {
    background-image: url("../../assets/menuicon-expanded.svg");
}

#superfish-main-toggle span {
    display: none;
}

#block-hauptnavigation.mobile-extentmenu {
    min-height: calc(100vh - 7.48vw);
}

#block-hauptnavigation ul {
    margin-left: -5.56%;
    width: 111.11%;
    flex-direction: column;
}

#block-hauptnavigation ul ul {
    margin-left: 0;
    width: 100%;
}

#block-hauptnavigation li a,
#block-hauptnavigation li span {
    padding: 6vw 5%;
}

#block-hauptnavigation li a.menuparent {
    text-decoration: none;
}

#block-hauptnavigation ul ul li {
    background-color: green;
    background-color: var(--green);
}

#block-hauptnavigation form {
    padding: 6vw 5% 3vw 5%;
}

#block-hauptnavigation form input[type=search] {
    width: 75%;
    border: none;
}

#block-hauptnavigation form input[type=submit] {
    right: 5%;
    position: absolute;
    margin-top: -0.2vw;
    background-color: white;
    color: darkgreen;
    color: var(--darkgreen);
    padding: 0.4vw 0 0.4vw 0;
    width: 16%;
    text-align: center;
}

.aside-container {
    display: block;
}

.aside-container aside {
    margin: 10vw 0 0 0;
}

footer {
    margin-top: 10vw;
}

#block-brandingderwebsitefooter {
    padding-bottom: 6.5vw;
}

footer .site-logo {
    display: inline-block;
    margin-left: -5%;
}

footer .site-logo img {
    width: 20vw;
    width: max(80px, 20vw);
}

footer .site-name {
    margin: 1vw 0 0 0;
    font-size: inherit;
    line-height: 15.16vw;
    width: unset;
}

footer .menu--account {
    display: none;
}

footer ul.menu {
    margin-left: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .menu--footer ul li {
    margin-left: unset;
    padding-bottom: 0.6em;
    padding-right: 0.2em;
}

footer .menu--footer ul li:last-child {
    padding-right: 0;
}

nav#block-gcmofficial-footer {
  width: 100%;
  position: relative;
}

.social__media {
  margin: 0;
}

div#block-socialmediaicons .field--name-body,
div#block-schulpreis .field--name-body {
  margin-top: 0;
}

div#block-schulpreis img {
  margin-left: 0;
}

div#block-schulpreis p {
  font-size: 0.7em;
}
