header,
#main,
footer {
    font-size: 1em;
}

header .region-branding,
header #block-hauptnavigation,
#main .region-content,
footer .region-footer {
    width: 90%;
    margin: 0 5%;
}

.btn-like {
    padding: 0.4em 0.8em;
}

h2,
.field__label {
    font-size: 1.5em;
}

header .region-branding {
    display: unset;
}

header .site-name {
    float: none;
    text-align: center;
    margin: 3vw 0;
}

header .site-name a {
    font-size: 3.2vw;
}

.site-logo img {
    position: absolute;
    margin: -4vw 0;
    width: 18vw;
    margin-left: 3%;
}

header .site-logo img {
    padding: 0;
}

.region-branding #block-gcmofficial-search {
    display: none;
}

#superfish-main-toggle {
    position: absolute;
    text-align: right;
    width: 7%;
    height: 7vw;
    margin: -12.4vw 0 0 83%;
    background-image: url("../../assets/menuicon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#superfish-main-toggle.sf-expanded {
    background-image: url("../../assets/menuicon-expanded.svg");
}

#superfish-main-toggle span {
    display: none;
}

#block-hauptnavigation.mobile-extentmenu {
    min-height: calc(100vh - 7.48vw);
}

#block-hauptnavigation ul {
    margin-left: -5.56%;
    width: 111.11%;
    flex-direction: column;
}

#block-hauptnavigation ul ul {
    margin-left: 0;
    width: 100%;
}

#block-hauptnavigation li a,
#block-hauptnavigation li span {
    padding: 6vw 5%;
}

#block-hauptnavigation ul ul li {
    background-color: var(--green);
}

#block-hauptnavigation form {
    padding: 6vw 5% 3vw 5%;
}

#block-hauptnavigation form input[type=search] {
    width: 75%;
    border: none;
}

#block-hauptnavigation form input[type=submit] {
    background-color: white;
    color: var(--darkgreen);
    padding: 0.4vw 0 0.4vw 0;
    width: 16%;
    text-align: center;
}

.aside-container {
    display: unset;
}

.aside-container aside {
    margin: 10vw 0 0 0;
}

/* Ansichten */

.view-filters input {
    max-width: 87vw;
}

.view-content {
    flex-direction: column;
}

.view-content .views-row h2 {
    font-size: min(1.3em, 6vw);
}

/* End Ansichten */

footer {
    margin-top: 10vw;
}

#block-brandingderwebsitefooter {
    padding-bottom: 6.5vw;
}

footer .site-logo {
    margin-left: -5%;
}

footer .site-name {
    margin: 1vw 0 0 0;
    font-size: inherit;
    width: unset;
}

footer .menu--account {
    display: none;
}

footer ul.menu {
    margin-left: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .menu--footer ul li {
    margin-left: unset;
    padding-bottom: 0.6em;
    padding-right: 0.2em;
}

footer .menu--footer ul li:last-child {
    padding-right: 0;
}