#herobox {
    top: 28vw;
    left: 11.5%;
    width: 66%;
    height: fit-content;
    max-height: 40vw;
    text-align: center;
    font-size: min(1.15em, 4vw);
}

#herobox h2 {
    font-size: min(1.3em, 4.6vw);
}

#titelbild {
    width: 118%;
}

.field--name-body {
    margin-top: 0 !important;
}