#titelbild,
#titelbild .field__item {
    height: calc(70vh - 21vw) !important;
    max-height: unset !important;
}

#titelbild .field__item {
    width: unset;
}

#block-gcmofficial-page-title,
#block-gcmofficial-breadcrumbs {
    position: absolute;
    margin-top: calc(70vh - 19vw);
}

.field--name-body {
    margin-top: 22vw;
}