header {
    border-bottom: none;
}

#titelbild,
#titelbild .field--name-field-titelbild,
#titelbild .field__item {
    height: calc(70vh - 21vw) !important;
    max-height: unset !important;
}

#titelbild .field--name-field-titelbild {
    margin-left: -5.5%; 
    width: 111%;
}

#block-gcmofficial-page-title,
#block-gcmofficial-breadcrumbs {
    position: absolute;
    margin-top: calc(70vh - 19vw + 0.5em);
}

#block-gcmofficial-page-title {
    margin-top: calc(70vh - 19vw + 3em);
}

.field--name-body {
    margin-top: calc(22vw + 2em);
}
