.view-filters input {
    max-width: 87vw;
}

.view-content {
    flex-direction: column;
}

.views-row {
    width: 100%;
}

.views-field-field-titelbild,
.views-field-field-titelbild .field-content {
  height: 32vw;
}

.view-content .views-row h2 {
    font-size: min(1.3em, 6vw);
}
